@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter&family=Poppins&display=swap');

body,html{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: black;
}
.left-section {
    position: fixed;
    top: 0;
    height: 90%;
    width: 25%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 0.1;
    padding: 10px;
    background-color: black;
    color: white;
    flex-shrink: 0;
}
.spotify-logo{
    width: 180px;
    height: 50px;
    flex-shrink: 0;
    font-size: 20px;
}
.my-navbar{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    overflow: auto;
    margin-left: 0;
    text-align: left;
}
.my-navbar>a{
    text-decoration: none;
    overflow: hidden;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    flex-shrink: 0;
    color: white;
    padding: 10px;
    display: block;
    float: left;
    color: #FFF;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.0px;  
}
.my-navbar>a:hover{
    background-color: #282828;
    color: #FFF;
}

.playlist-icon{
    text-decoration: none;
    color: white;
    padding: 12px;
    display: block;
    float: left;
}
.my-navbar>a>img{
    width: 29.645px;
    height: 29.645px;
    flex-shrink: 0;
    padding: 5px;
}

.main{
    height: 90%;
    width: 75%;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 0.9;
    background: linear-gradient(180deg, #222 0%, #1F1F1F 11.64%, #171717 25.66%, #161616 32.94%, #151515 35.98%, #131313 44.89%, #121212 55.22%, #121212 75.34%, #121212 85.45%, rgba(18, 18, 18, 0.00) 100%);
    padding: 10px;
    margin-left: 25%;
    overflow-y: auto;
}
.main-navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    height: 10px;
}
.title-playlist{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.heading>h1{
    color: #FFF;
    font-family: DM Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;  
}
.my-card-section{
    display: flex;
    flex-wrap: wrap;
}
.my-card{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: #303030;
    margin-top: 10px;
    margin-left: 20px;
    width: 300px;
    height: 75px;
}
.my-card>img{
    height: 75px;
    width: 75px;
}
.my-card>p{
    color: #FFF;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    padding: 20px;
}
.shows{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}
.shows-heading{
    display: flex;
    justify-content: space-between;
}
.shows-heading>a{
    text-decoration: none;
    color: #FFF;
    margin-right: 20px;
    font-family: DM Sans;
    font-size: 12px;
}
.shows-heading>h2{
    color: #FFF;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}
.shows-card-section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.my-card-1{
    width: 180px;
    height: 250px;
    flex-shrink: 0;
    margin-top: 15px;
    margin-right: 40px;
    background-color: #181818;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my-card-1>img{
    height: 200px;
    width: 150px;
}
.p1{
    margin-top: 10px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
}
.p2{
    color: #B3B3B3;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.15px;
}
.player{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}
.player-div-1{
    display: flex;
    justify-content: space-between;
    height: 60%;
}
.player-div-1-1{
    display: flex;
    margin-left: 5px;
    padding: 3px;
    justify-content: space-between;
    align-items: center;
}
.player-div-1-1>div{
    margin-right: 10px;
}
.player-div-1-1>div>.image{
    height: 100%;
    width: 40px;
}
.player-div-1-1>div>p{
    font-size: 10px;
}
.heart{
    width: 15px;
    height: 17px;
    flex-shrink: 0;
}
.player-div-1-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pic1, .pic2, .pic4, .pic5{
    height: 15px;
    width: 15px;
}
.pic3{
    height: 23px;
    width: 23px;
}
.player-timer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
}
.timer{
    width: 511px;
    height: 5px;
    bottom: 0;
    flex-shrink: 0;
    background-color: #535353;
}
.timer>div{
    width: 400px;
    height: 100%;
    background-color: #c4c4c4;
}
.player-div-1-3{
    display: flex;
    align-items: center;
}
.img1, .img2, .img3, .img4, .img6{
    height: 15px;
    width: 15px;
}
.player-div-2{
    width: 100%;
}
.player-div-2>img{
    width: 100%;
}
::-webkit-scrollbar{
    display: none;
}

@media (min-width: 1200px) {
    .left-section{
        width: 15%;
    }
    .main{
        width: 75%;
    }
    .player{
        width: 100%;
    }
}
/* Medium screens */
@media (min-width: 768px) and (max-width: 1199px) {
    .left-section{
        width: 25%;
    }
    .main{
        width: 75%;
        align-items: center;
    }
    .player{
        width: 100%;
    }
    .player-div-1-1, .player-div-1-3{
       display: none !important;
    }
    .player-div-1-2{
        width: 100%;
    }
    .player-div-2{
        display: none;
    }
    .spotify-logo>a>img{
        width: 100px !important;
        height: 30px !important;
    }
    .my-navbar>a{
        width: 160px;
        height: 30px;
        font-size: 10px;
    }
}

/* Small screens */
@media (max-width: 767px) {
    .body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left-section{
        width: 100%;
    }
    .spotify-logo{
        position: fixed;
        top: 0;
        text-align: center;
    }
    .spotify-logo>a>img{
        align-items: center;
        width: 100px !important;
        height: 30px !important;
    }
    .my-navbar{
        display: none;
    }
    .main{
        margin-top: 40px;
        width: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .heading>h1{
        font-size: 20px;
        text-align: center;
    }
    .my-card{
        margin-left: 0 !important;
    }
    .my-card>p{
        font-size: 10px;
    }
    .shows-heading>h2{
        font-size: 15px;
    }
    .shows-heading>a{
        font-size: 10px;
    }
    .player{
        width: 100%;
    }
    .player-div-1-1, .player-div-1-3{
       display: none !important;
    }
    .player-div-1-2{
        width: 100%;
    }
    .player-div-2{
        display: none;
    }
}